* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #00281C;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    padding-right: 1rem;
    padding-left: 1rem;
    background-image: linear-gradient(170deg, #00281C, #0C5F47, #00281C);
}

h1, h2 {
    font-size: 3rem;
    color: #FFF;
    margin-bottom: 2rem;
    text-align: center;
    line-height: 1.2;
}

.form {
    width: 100%;
    max-width: 32rem;
    font-size: 1.125rem;
}

.form label,
.form input,
.form textarea,
.form button {
    display: block;
    width: 100%;
}

.form label {
    color: #FFF;
    line-height: 1;
    margin-bottom: 0.5rem;
}

.form input,
.form textarea {
    font: inherit;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 8px;
    transition: border-color, box-shadow 0.2s;
}

.form textarea {
    min-height: 13rem;
    resize: vertical;
}

.form input:hover,
.form input:focus,
.form textarea:hover,
.form textarea:focus {
    outline: none;
    border-color: #3A846F;
    box-shadow: 0 0 0 3px #3A846F;
}

.form button {
    display: block;
    padding: 1rem;
    background: #3A846F;
    color: #FFF;
    font: inherit;
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.form button:hover,
.form button:focus {
    outline: none;
    border-color: #3A846F;
    box-shadow: 0 0 0 3px #3A846F;
}